html, body {
    margin-top: 32px;
    margin-left:0;
    margin-right:0;
    background-color: #171717;
    font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --bg: #171717;
    --accent: #9FA8DA;
    --text-light: #ffffff;
    --border-light: #595959;
}

/* Sticky Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg); /* Dark background */
    padding-bottom: 1rem;
    padding-top: 1rem;
    z-index: 1000; /* Ensures the navbar stays above other content */
    border-bottom: 1px solid #595959;
}

/* Navbar Container */
.navbar-container {
    display: flex;
    justify-content: space-between; /* Space between left, center, and right */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* Left Section */
.navbar-left {
    flex: 1; /* Takes up available space on the left */
}

.navbar-title{
    color: var(--text-light);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

/* Center Section */
.navbar-links-center {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Right Section */
.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1; /* Takes up available space on the right */
    justify-content: flex-end; /* Aligns links to the far right */
}

/* Navbar Link Items */
.navbar-link-item {
    margin-left: 3rem;
}

/* Navbar Links */
.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;

}

.navbar-link:hover {
    color: var(--accent);
}


/* Fullscreen Header */
.fullscreen-header {
    width: 100%;
    height: 680px; /* Takes up the full viewport height */
    display: flex;
    align-items: center; /* Center vertically */
    background-color: var(--bg); /* Optional: Set a background color */
    margin-top: 0;
    padding: 0;
    border-bottom: 1px solid var(--border-light);
}

.header-title {
    font-size:50px;
    font-weight: 800;
    text-align: left;
    color: var(--text-light); /* Set the text color */
    margin-left: 2rem;
    padding: 2rem ;
}

.header-image {
    max-width: 500px; /* Optional: Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    padding: 2rem;
    border-radius: 5rem;
    margin-right: 2rem;
    opacity: 80%;
}

/* Page Container */
.page-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-top: 80px;
    /*align-items: center; !* Center vertically *!*/
    /*height: calc(100vh - 120px); /* Adjust for navbar height and any margins */
    background-color: var(--bg);
}

/* Gallery Description */
.gallery-title {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center; /* Center the text */
}

.gallery-description {
    color: var(--text-light); /* Text color */
    font-size: 1.2rem; /* Font size */
    font-weight: 400; /* Font weight */
    margin-bottom: 30px; /* Space between the description and the button */
    text-align: center; /* Center the text */
}

/* Home Button */
.home-button {
    color: var(--accent); /* Text color matching the border */
    border: 1px solid var(--accent); /* Colored border */
    background-color: transparent; /* Transparent background */
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-flex;
    width: fit-content; /* Ensures the button width fits its content */
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

/* Hover Effect */
.home-button:hover {
    background-color: var(--accent); /* Fill with color on hover */
    color: white; /* Change text color to white for contrast */
}

/* Home Button Text */
.home-button-text {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.2rem;
}

/* Page Section */
.page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin: 0 auto;
    background-color: var(--bg);
    color: white;
}

.page-section h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: var(--text-light);
}

.page-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 0 200px;
    text-align: justify;
}

h2 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -12px;
    top: 100%; /* Ensure it starts exactly below the parent */
    padding-bottom: 12px;
    margin-top: 10px;
    background-color: var(--bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    border: 1px solid var(--border-light);
}

/* This creates an invisible bridge across the gap */
.dropdown-content::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px; /* Move up by the exact amount of the margin-top */
    left: 0;
    width: 100%;
    height: 10px; /* Same height as the margin */
    background: transparent;
}

.dropdown-content a {
    color: var(--text-light);
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}