<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<!-- Sticky Navbar -->
<nav class="navbar">
    <div class="navbar-container">
        <!-- Left: Data Story -->
        <div class="navbar-left">
            <a href="{% if site.navigation[0].url contains '://' %}{{ site.navigation[0].url }}{% else %}{{ site.navigation[0].url | relative_url }}{% endif %}" class="navbar-title">Data story</a>
        </div>

        <!-- Center: Section Links (e.g., Introduction) -->
        <ul class="navbar-links-center">
            {% for nav in site.navigation %}
            {% if nav.url contains '#' %}
            <li class="navbar-link-item">
                <a href="{{ nav.url }}" class="navbar-link">{{ nav.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <!-- Right: Other Links (e.g., Gallery) -->
        <ul class="navbar-links">
            {% for nav in site.navigation %}
            {% unless nav.url contains '#' or forloop.first %}
            <li class="navbar-link-item">
                <a href="{% if nav.url contains '://' %}{{ nav.url }}{% else %}{{ nav.url | relative_url }}{% endif %}" class="navbar-link">
                    {{ nav.title }}
                </a>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>
    </div>
</nav>
<body>
{{ content }}
</body>
</html>
